node_modules/
.env
history.xlsx
.DS_Store
dist/
coverage/
logs/
*.log
.vscode/
.idea/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
.next/
out/
build/
.tmp/
.sass-cache/
*.tsbuildinfo
.vite/
uploads/
